.metadata/
cfa-myo-api/.classpath
cfa-myo-api/.project
cfa-myo-api/.settings/org.eclipse.jdt.core.prefs
cfa-myo-api/.settings/org.eclipse.wst.common.component
cfa-myo-api/.settings/org.eclipse.wst.common.project.facet.core.xml
cfa-myo-api/target
cfa-myo-domain/.classpath
cfa-myo-domain/.project
cfa-myo-domain/.settings/org.eclipse.jdt.core.prefs
cfa-myo-domain/.settings/org.eclipse.wst.common.component
cfa-myo-domain/.settings/org.eclipse.wst.common.project.facet.core.xml
cfa-myo-domain/target
cfa-myo-domain/database/~test.trace.db
cfa-myo-domain/test-output/
cfa-myo-web/.classpath
cfa-myo-web/.project
cfa-myo-web/.settings/org.eclipse.jdt.core.prefs
cfa-myo-web/.settings/org.eclipse.wst.common.component
cfa-myo-web/.settings/org.eclipse.wst.common.project.facet.core.xml
cfa-myo-web/target
Servers/
target/
cfa-myo-service/.classpath
cfa-myo-service/.project
cfa-myo-service/.settings/org.eclipse.jdt.core.prefs
cfa-myo-service/.settings/org.eclipse.wst.common.component
cfa-myo-service/.settings/org.eclipse.core.resources.prefs
cfa-myo-service/.settings/org.eclipse.jdt.ui.prefs
cfa-myo-service/.settings/org.eclipse.jst.jsp.core.prefs
cfa-myo-service/.settings/org.eclipse.m2e.core.prefs
cfa-myo-service/.settings/org.eclipse.wst.validation.prefs
cfa-myo-service/database/~test.trace.db
cfa-myo-service/taxes-fiscal-codes.1.0.json
cfa-myo-service/economic-activities-taxes-cl.1.0.json
release.properties
cfa-myo-service/bin/
DATABASE.sql
cfa-myo-test-automation/.classpath
cfa-myo-test-automation/.project
cfa-myo-test-automation/.settings/org.eclipse.jdt.core.prefs
cfa-myo-test-automation/.settings/org.eclipse.wst.common.component
cfa-myo-test-automation/.settings/org.eclipse.wst.common.project.facet.core.xml
cfa-myo-test-automation/target
cfa-myo-test-integration/.classpath
cfa-myo-test-integration/.project
cfa-myo-test-integration/.settings/org.eclipse.jdt.core.prefs
cfa-myo-test-integration/.settings/org.eclipse.wst.common.component
cfa-myo-test-integration/.settings/org.eclipse.wst.common.project.facet.core.xml
cfa-myo-test-integration/target
cfa-myo-service/legalentity-mixer.1.0.json
cfa-myo-service/oracleInvoicing-mixer.1.0.json
cfa-myo-service/economic-activities-taxes.1.0.json
cfa-myo-test-integration/economic-activities-taxes.1.0.json
cfa-myo-test-integration/legalentity-mixer.1.0.json
cfa-myo-service/economic-activities-taxes-cl.1.0.json.gz
cfa-myo-service/taxes-fiscal-codes.1.0.json.gz
cfa-myo-test-integration/database/~test.lock.db
cfa-myo-test-integration/database/~test.trace.db.old
cfa-myo-test-integration/database/
cfa-myo-test-integration/test-output/
cfa-myo-test-integration/legalentity-mixer.1.0.json.gz
.idea/
*.iml
*.iws
*.ipr
cfa-myo-test-integration/.classpath
cfa-myo-test-integration/.settings/org.eclipse.wst.common.component
cfa-myo-domain/arch_test
cfa-myo-test-automation/test-output/
cfa-myo-service/legalentity-mixer.1.0.json.gz
cfa-myo-service/economic-activities-taxes.1.0.json.gz
cfa-myo-domain/nullarch_test
cfa-myo-service/argentina-fiscal-codes.1.0.json.gz
cfa-myo-domain/src/main/resources/conf/env/awsKeys.conf
cfa-myo-test-integration/src/test/resources/conf/env/awsKeys.conf
**/*.json.gz
*.orig
sensitive.conf